{% extends 'base.html'%}


  <!-- body -->
{% block content %}

{% load custom_filters %}
{% load static %}

<div class="container-fluid mt-3">
<div class="row">
  <!--filter-->
  <div class="col-lg-3 mx-auto">
    
  {%include 'filters.html'%}  
  </div> 
</div>
  
</div>

  <!--all products-->
  <div id="products" class="col-lg-9 mx-auto">
    <div class="row mx-auto" id="filteredProducts">
      <p class="ajaxLoader">loading...</p>
      {% for product in product %} 
          <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
              <img class="card-img-top" src="{{product.productattribute_set.first.image.url}}" alt="Card image cap">
              <div class="card-body">
                  <p class="card-title">{{product.name}}</p>
                  <p class="card-text"><strong>{{product.productattribute_set.first.price|currency}}</strong></p>
                  <p class="nav-link pb-1"><a href="/product/{{product.id}}">View Product</a></p>
              </div>

            <div class="card-footer p-0 no-gutters">
             
                <div class="row no-gutters" >
                  
                  
                  
                </div>
              
            </div>
          </div>
      {% endfor %}
  </div>
  </div>
</div>

</div>
{% endblock %}   