{% extends 'base.html'%}

  <!-- body -->
{% block content %}

{% load custom_filters %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">{{product.name}}</h3>
	<div class="row">
		<!-- Images -->
		<div class="col-md-4">
			<img id="zoom_01" src="/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{data.name}}">
		</div>
		<div class="col-md-8">
			<p>{{product.detail}}</p>
			<hr/>
			<table class="table table-bordered">
				<tr>
					<th>Colors</th>
					<td>
						{% for color in colors %}
							<button class="btn btn-lg choose-color" data-color="{{color.color__id}}" style="background-color:{{color.color__color_code}}"></button>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Sizes</th>
					<td>
						{% for size in sizes %}
						<button data-price="{{size.price}}" class="btn btn-outline-secondary btn-sm choose-size color{{size.color__id}}">{{size.size__name}}</button>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Price</th>
					
					<th> ₹ <span class="product-price"> {{product.productattribute_set.first.price|currency}}</span></th>
				</tr>
			</table>
			<hr/>
			<div class="input-group my-3" style="width:30%;">
				<input type="number" value="1" class="form-control" id="productQty"/>
				<div class="input-group-append">
					<input type="hidden" class="product-image" value="{{product.productattribute_set.first.image}}" />
					<input type="hidden" class="product-id" value="{{product.id}}" />
					<input type="hidden" class="product-name" value="{{product.name}}" />
				  <button class="btn btn-primary btn-sm add-to-cart" data-index="{{product.id}}" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-6">
					<h3 class="my-3">Detail</h3>
					<!-- Detail -->
					<table class="table table-bordered">
						<tr>
							<th>Brand</th>
							<td><a href="/?brand={{product.brand.id}}">{{product.brand.name}}</a></td>
						</tr>
						<tr>
							<th>Category</th>
							<td><a href="/?category={{product.category.id}}">{{product.category.name}}</a></td>
						</tr>
						<tr>
							<th>Specification</th>
							<td>{{product.specs}}</td>
						</tr>
					</table>
				</div>
		  </div>
	  </div>
	  <hr />
  {% endblock %}